* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0078b7, #00b3a4);
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

h2 {
  color: #003d73;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  transition: 0.2s;
}

.tab.active {
  background: #0078b7;
  color: white;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

button {
  background: #00ffb3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #04f7a6;
}

#mensagem {
  margin-top: 15px;
  font-weight: 500;
  color: #000000;
}
